body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.btnCls {
  margin-right: 5px;
  border: none;
  background-color: #21252b;
  color: white;
}

.child{
  padding-left: 20px;
}